.w3-iuf-red
{color:#f2f7fc;background-color:#261f63}
.w3-iuf-turquoise
{color:#09060a;background-color:#6fbfbc}
.w3-iuf-yellow
{color:#09060a;background-color:#f8c995}
.w3-iuf-orange
{color:#f2f7fc;background-color:#D2564C}
.w3-iuf-white
{color:#09060a;background-color:#f2f7fc}
.w3-iuf-black
{color:#f2f7fc;background-color:#09060a}

.w3-iuf-text-red
{color:#261f63}
.w3-iuf-text-turquoise
{color:#6fbfbc}
.w3-iuf-text-yellow
{color:#f8c995}
.w3-iuf-text-orange
{color:#D2564C}
.w3-iuf-text-white
{color:#f2f7fc}
.w3-iuf-text-black
{color:#09060a}

